<h1>Struct - The Infrastructure Design Application</h1>
<p>
This is the home page for the Struct2 application.  This app is still very much under construction. 
</p>

<%= link_to "Sign up Now!", '#', :class => "signup_button round" %>
