<!DOCTYPE html>
<html>
<head>
  <title>Struct2</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  <script type="text/javascript" src="https://getfirebug.com/firebug-lite.js"></script>
</head>
<body>

<%= yield %>

</body>
</html>
